[Unit]
Description=SSL tunnel for network daemons
After=syslog.target

[Service]
ExecStart=/opt/Stunnel/5.17/Debian7/Linux/amd64/bin/stunnel
Type=forking

[Install]
WantedBy=multi-user.target
